@charset "UTF-8";
/**
 * @file
 * RTL companion for the pages.css file.
 */
/* Fonts */
@font-face {
  font-family: 'ChunkFiveRegular';
  src: url("../fonts/Chunkfive-webfont.eot");
  src: local("☺"), url("../fonts/Chunkfive-webfont.woff") format("woff"), url("../fonts/Chunkfive-webfont.ttf") format("truetype"), url("../fonts/Chunkfive-webfont.svg#webfont90E2uSjN") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Strong fuschia, also the header bar BG */
/* eg. Buttons */
/* eg. Text on top of the fuschia */
/*
 * Header
 */
#logo {
  /* Wrapping link for logo */
  float: right;
}

/*
 * Content
 */
ul.inline li {
  /* List of links */
  display: inline-block;
  /* Bug in Safari causes display: inline to fail. */
  padding: 0 0 0 1em;
}

span.field-label {
  /* The inline field label used by the Fences.module */
  padding: 0 0 0 1em;
}
