@charset "UTF-8";
/* normalize-rtl.css - RTL language extension of normalize.scss. */
/* Fonts */
@font-face {
  font-family: 'ChunkFiveRegular';
  src: url("../fonts/Chunkfive-webfont.eot");
  src: local("☺"), url("../fonts/Chunkfive-webfont.woff") format("woff"), url("../fonts/Chunkfive-webfont.ttf") format("truetype"), url("../fonts/Chunkfive-webfont.svg#webfont90E2uSjN") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Strong Yellow, also the header bar BG */
/* eg. Buttons */
/* eg. Text on top of the fuschia */
/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dd {
  margin: 0 30px 0 0;
}

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul,
.item-list ul {
  padding: 0 30px 0 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* =============================================================================
   Tables
   ========================================================================== */
th {
  text-align: right;
}
